[user]
	name = Robbert van der Helm
	email = robbert@zzindi.nl
[diff]
	compactionHeuristic = true
  indentHeuristic = true
	tool = kdiff3
[commit]
	verbose = true
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
	autocrlf = input
[merge]
	tool = kdiff3
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[tig]
	refresh-mode = periodic
	refresh-interval = 5

