[user]
	name = Robbert van der Helm
	email = mail@robbertvanderhelm.nl
[diff]
	compactionHeuristic = true
  indentHeuristic = true
	tool = kdiff3
[commit]
	verbose = true
[core]
  autocrlf = input
  editor = vim
  excludesfile = ~/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
	conflictStyle = diff3
	tool = kdiff3
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[tig]
	refresh-mode = periodic
	refresh-interval = 5
[magit]
	hideCampaign = true
