[Unit]
Description=NordVPN autocnnnect
Requires=network-online.target
After=nework-online.target

[Service]
Type=idle
RemainAfterExit=true
ExecStart=/usr/bin/nordvpn connect
ExecStop=/usr/bin/nordvpn disconnect
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
