[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/robbert/Bureaublad/Destiny 2.desktop]
row=8
col=0

[/home/robbert/Bureaublad/ƒJƒXƒ^ƒ€ƒƒCƒh3D2.desktop]
row=9
col=0

[/home/robbert/Bureaublad/ƒJƒXƒ^ƒ€ƒƒCƒh3D2.lnk]
row=10
col=0

[DA341A7F341A5F37]
row=4
col=0

[78BD-32CF]
row=2
col=0

[DD40-0FC8]
row=0
col=0

[B4A46AC1A46A85A8]
row=3
col=0

[A888C31488C2E044]
row=1
col=0

[Prullenbak]
row=5
col=0

[/]
row=6
col=0

[/home/robbert]
row=7
col=0

