completions/
fish_universal_variables
fish_variables
fishd.*

# Plugins
conf.d/fzf.fish
conf.d/fzf_key_bindings.fish
conf.d/plugin-thefuck_init.fish
conf.d/pure.fish
functions/__fzf_cd.fish
functions/__fzf_complete.fish
functions/__fzf_complete_preview.fish
functions/__fzf_find_file.fish
functions/__fzf_get_dir.fish
functions/__fzf_open.fish
functions/__fzf_parse_commandline.fish
functions/__fzf_reverse_isearch.fish
functions/__fzfcmd.fish
functions/__tf_updt.fish
functions/_pure_format_time.fish
functions/_pure_parse_directory.fish
functions/_pure_parse_git_branch.fish
functions/_pure_print_prompt.fish
functions/_pure_prompt.fish
functions/_pure_prompt_at.fish
functions/_pure_prompt_beginning.fish
functions/_pure_prompt_command_duration.fish
functions/_pure_prompt_current_folder.fish
functions/_pure_prompt_ending.fish
functions/_pure_prompt_first_line.fish
functions/_pure_prompt_git.fish
functions/_pure_prompt_git_arrows.fish
functions/_pure_prompt_git_branch.fish
functions/_pure_prompt_git_dirty.fish
functions/_pure_prompt_host.fish
functions/_pure_prompt_ssh.fish
functions/_pure_prompt_ssh_host.fish
functions/_pure_prompt_ssh_separator.fish
functions/_pure_prompt_ssh_user.fish
functions/_pure_prompt_symbol.fish
functions/_pure_prompt_user.fish
functions/_pure_prompt_user_and_host.fish
functions/_pure_prompt_vimode.fish
functions/_pure_prompt_virtualenv.fish
functions/_pure_set_default.fish
functions/_pure_string_width.fish
functions/fish_greeting.fish
functions/fish_mode_prompt.fish
functions/fish_prompt.fish
functions/fish_right_prompt.fish
functions/fish_title.fish
functions/fuck.fish
functions/thefuck-command-line.fish
