set surround

set scrolloff=3
set showmode
set history=1000
set incsearch
set hlsearch
set ignorecase

let mapleader = ","

" De meeste van deze bindings zijn consistent met Spacemacs

" Shortcuts voor systeemclipboard
noremap <space>y "*y
noremap <space>Y "*Y
noremap <space>p "*p
noremap <space>P "*P

" Navigatie tussen windows
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-h> <c-w>h
nnoremap <c-k> <c-w>k
nnoremap <a-h> gT
nnoremap <a-l> gt
nnoremap <c-s-tab> gT
nnoremap <c-tab> gt

" Stop hightlighting
nnoremap <space>sc :nohl<cr>

" Command palette
nnoremap <space><space> :action GotoAction<cr>

" Bestandnavigatie
nnoremap <space><tab> :action VimFilePrevious<cr>
nnoremap <space>bd :action CloseContent<cr>
nnoremap <space>bD :action ReopenClosedTab<cr>
nnoremap <space>fr :action RecentFiles<cr>
nnoremap <space>js :action GotoSymbol<cr>
nnoremap <space>pf :action SearchEverywhere<cr>
nnoremap <space>sh :action HighlightUsagesInFile<cr>
nnoremap <space>ss :action FileStructurePopup<cr>

" Codenavigatie
nnoremap <space>] :action GotoImplementation<cr>
nnoremap <space>[ :action GotoSuperMethod<cr>
nnoremap <space>ju :action FindUsages<cr>
nnoremap <space>jt :action GotoTest<cr>

" Code refactoring en major mode
nnoremap <leader>= :action ReformatCode<cr>
nnoremap <leader>db :action ToggleLineBreakpoint<cr>
nnoremap <leader>dr :action Run<cr>
nnoremap <leader>dR :action RunClass<cr>
nnoremap <leader>dd :action Debug<cr>
nnoremap <leader>dD :action DebugClass<cr>
nnoremap <leader>rr :action RenameElement<cr>
nnoremap <leader>rt :action RefactorThis<cr>
nnoremap <leader>p :action ParameterInfo<cr>

" Comments
nnoremap gc :action CommentByLineComment<cr>

" Unimpaired mappings
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k
nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>
nnoremap [q :action GotoPreviousError<cr>
nnoremap ]q :action GotoNextError<cr>

" Built-in navigation to navigated items works better
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>
" But preserve ideavim defaults
nnoremap g<c-o> <c-o>
nnoremap g<c-i> <c-i>

" Ingebouwde finder
nnoremap g/ :action Find<cr>
