#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.5
Type=Application
Name=Bitwig Studio
GenericName=Digital Audio Workstation
NoDisplay=false
Comment=Modern music production and performance
Icon=com.bitwig.BitwigStudio
DBusActivatable=false
Exec=/bin/sh -c 'fix-realtime-scheduling; env GTK_THEME=Arc bitwig-studio'
Terminal=false
MimeType=application/bitwig-clip;application/bitwig-device;application/bitwig-package;application/bitwig-preset;application/bitwig-project;application/bitwig-scene;application/bitwig-template;application/bitwig-extension;application/bitwig-remote-controls;application/bitwig-module;application/bitwig-modulator
Categories=AudioVideo;Music;Audio;Sequencer;Midi;Mixer;Player;Recorder
Keywords=daw;bitwig;audio;midi
StartupNotify=true
StartupWMClass=com.bitwig.BitwigStudio
