[Desktop Entry]
Actions=Configure;Capture;
Comment=Powerful yet simple to use screenshot software.
Exec=flameshot gui
GenericName=Using Flameshot
Icon=flameshot
Keywords=flameshot;screenshot;capture;shutter;
Name=Take Screenshot
NoDisplay=false
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
