[Desktop Entry]
Comment=Open in emacs client window on current desktop
Exec=/home/robbert/.dotfiles/bin/em
GenericName=Text Editor
Icon=emacs
Name=Emacsclient
NoDisplay=false
Path[$e]=$HOME
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
X-KDE-SubstituteUID=false
X-KDE-Username=
