[Desktop Entry]
Type=Service
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;inode/directory;
Actions=action0;
X-KDE-Submenu=Add to Insync
X-KDE-Priority=TopLevel

[Desktop Action action0]
Exec=insync cm:create_link:101068102137290866961 %u
Name=robbert@zzindi.nl
Icon=list-add

