[Unit]
Description=XFCE notifications service

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/lib/xfce4/notifyd/xfce4-notifyd
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
