Xft.lcdfilter: lcddefault

rofi.bw: 0
rofi.color-enabled: true
rofi.color-normal: argb:00ffffff,#969fb6,argb:00ffffff,argb:00ffffff,#ffffff
rofi.color-urgent: argb:00ffffff,#f2b6b5,argb:00ffffff,argb:00ffffff,#fdf2f2
rofi.color-active: argb:00ffffff,#c2cad0,argb:00ffffff,argb:00ffffff,#dfe3e7
rofi.color-window: argb:ee2f343f,#f5f5f5
rofi.font: Open Sans 15
rofi.fullscreen: true
rofi.hide-scrollbar: true
rofi.line-margin: 15
rofi.padding: 500
rofi.separator-style: none
