Xft.lcdfilter: lcddefault

! Copied from https://davedavenport.github.io/rofi/p05-Themes.html
rofi.color-enabled: true
rofi.color-normal: #ffffff,#525d76,#f5f5f5,#5294e2,#ffffff
rofi.color-urgent: #ffffff,#dc322f,#f5f5f5,#5294e2,#dc322f
rofi.color-active: #ffffff,#c2cad0,#f5f5f5,#5294e2,#c2cad0
rofi.color-window: #ffffff,#f5f5f5
rofi.font: Roboto 13
rofi.separator-style: solid
