#!/usr/bin/env xdg-open

# I often use IPython as a quick calculator. This simply imports the modules I
# most commonly use.

[Desktop Entry]
Categories=Development;Utility;
Comment=Enhanced interactive Python shell
Exec=ipython --pylab --no-banner -i -c "import re"
GenericName=IPython
GenericName[en_US]=IPython
Icon=ipython
Name=ipython
Name[en_US]=ipython
NoDisplay=false
Path[$e]=
StartupNotify=false
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
