[Desktop Action NewTab]
Exec=konsole --new-tab
Name[nl_NL]=Een nieuw tabblad openen
Name=Open a New Tab

[Desktop Action NewWindow]
Exec=konsole
Name[nl_NL]=Een nieuw venster openen
Name=Open a New Window

[Desktop Entry]
Actions=NewWindow;NewTab;
Categories=Qt;KDE;System;TerminalEmulator;
Comment[nl_NL]=Toegang tot de opdrachtregel
Comment=Command line access
Exec=konsole
GenericName[nl_NL]=Terminal
GenericName=Terminal
Icon=utilities-terminal
Name[nl_NL]=Konsole
Name=Konsole
StartupNotify=true
Terminal=false
TryExec=konsole
Type=Application
X-DBUS-StartupType=Unique
X-DocPath=konsole/index.html
X-KDE-AuthorizeAction=shell_access
