[Desktop Action ActiveWindowScreenShot]
Exec=spectacle -a
Name[nl_NL]=Actieve venster opnemen
Name=Capture Active Window

[Desktop Action CurrentMonitorScreenShot]
Exec=spectacle -m
Name[nl_NL]=Huidige monitor opnemen
Name=Capture Current Monitor

[Desktop Action FullScreenScreenShot]
Exec=spectacle -f
Name[nl_NL]=Gehele bureaublad opnemen
Name=Capture Entire Desktop

[Desktop Action RectangularRegionScreenShot]
Exec=spectacle -r
Name[nl_NL]=Rechthoekig gebied opnemen
Name=Capture Rectangular Region

[Desktop Entry]
Actions=FullScreenScreenShot;CurrentMonitorScreenShot;ActiveWindowScreenShot;RectangularRegionScreenShot;
Categories=Qt;KDE;Utility;
Exec=spectacle
GenericName[nl_NL]=Hulpmiddel voor het maken van een schermafdruk
GenericName=Screenshot Capture Utility
Icon=spectacle
Name[nl_NL]=Spectacle
Name=Spectacle
StartupNotify=false
Terminal=false
Type=Application
X-DBUS-ServiceName=org.kde.Spectacle
X-DBUS-StartupType=Multi
