*
!/codestyles/
!/codestyles/*
!/colors/
!/colors/*
!/fileTemplates/
!/fileTemplates/*
!/inspection/
!/inspection/*
!/keymaps/
!/keymaps/*
!/options/
!/options/*
!/plugins/
!/plugins/*.xml
!/templates/
!/templates/*
!/tools/
!/tools/*
!/.gitignore
!/disabled_plugins.txt
