/consoles/
/extensions/com.intellij.database/
/jdbc-drivers/
/options/databaseDrivers.xml
/options/dimensions.xml
/options/extensionsRootType.xml
/options/feature.usage.statistics.xml
/options/find.recents.xml
/options/find.xml
/options/jdk.table.xml
/options/options.xml
/options/other.xml
/options/path.macros.xml
/options/php.xml
/options/proxy.settings.pwd
/options/recentProjects.xml
/options/runner.layout.xml
/options/security.xml
/options/statistics.application.usages.xml
/options/stubIndex.xml
/options/ui.lnf.xml
/options/updates.xml
/options/usage.statistics.xml
/options/vim_settings.xml
/options/web-browsers.xml
/options/webServers.xml
/options/window.manager.xml
/options/window.state.xml
/tasks/
/idea.key
/port*

# Plugins
/disabled_plugins.txt
/plugins/
