packages: [
  "atom-beautify"
  "atom-terminal"
  "autocomplete-python"
  "cursor-history"
  "editorconfig"
  "ex-mode"
  "highlight-selected"
  "intellij-idea-keymap"
  "language-glsl"
  "language-opencl"
  "language-rust"
  "linter"
  "linter-flake8"
  "linter-opencl"
  "linter-rust"
  "package-sync"
  "python-tools"
  "racer"
  "vim-mode-plus"
  "vim-mode-plus-ex-mode"
]
